body {
    margin: 0px;
    padding: 0px
}

canvas {
	display: block;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	border: 3px solid black;
    border-image: linear-gradient(#0B0E7F , #0B95DD);
    -moz-border-image: -moz-linear-gradient(#0B0E7F , #0B95DD);
    -webkit-border-image: -webkit-linear-gradient(#0B0E7F , #0B95DD);
    border-image-slice: 1;
}

a {
    font-family: sans-serif;
    position: relative;
    padding: 10px;
    border: 2px solid;
    margin-left: 500px;
    text-decoration: none;
    top: 50px;
    color: black;
    border-radius: 6px;
    border-color: #0B95DD;
    transition: 0.5s;
}

a:hover {
    transform: scale(1.2);
    font-family: sans-serif;
    position: relative;
    padding: 10px;
    border: 2px solid;
    margin-left: 500px;
    text-decoration: none;
    top: 50px;
    color: black;
    border-radius: 6px;
    border-color: #0B0E7F;
}

